@import '../App/global.scss';

#ramenCon {
  width: 100%;
  background: #E5E5E5;
  padding-bottom: 5%;
  * {
    font-family: "finland";
  }
}

#ramenMenu {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  * {
    font-family: "finland";
  }
}
.tonkatsu {
  text-decoration: underline;
}
.ramenImage1 {
  width: 500px;
  overflow: hidden;
  height: auto;
  z-index: 0;
  filter: drop-shadow(40px 40px 20px #C0C0C0);
}
.ramenTitle {
  font-size: 80px;
  font-weight: 1000;
  text-transform: uppercase;
  text-align: center;
}

.left_left {
  background: url(../../../dist/assets/chalk.jpg) 50% 50% no-repeat;
  background-size: cover;
  box-shadow: 20px 20px 20px #A9A9A9;
  padding: 3%;
  margin: 0 1%;
}
#ramenItems {
  margin: 0 auto;
  .itemNprice {
    display: flex;
    justify-content: space-between;
    h3 {
      color: $white;
      font-size: 40px;
      font-weight: 600;
    }
  }
  p {
    color: $white;
    font-size: 30px;
    font-weight: 400;
  }
}

.menu-download {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 1024px) {
  #ramenMenu {
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
  }
  .ramenLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ramenRight {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left_left {
    width: 80%;
  }
}