@import '../App/global.scss';


.gallery-container {
  background: url(https://s3.amazonaws.com/nishi-blakeswl/octo.jpg) 50% 50% no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  overflow-x: none;
}
#gallery {
  background: rgba(255,255,255, .9);
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 1;
}
.gallery-modal {
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  height: 40vh;

  img {
    width: 320px;
    height: auto;
  }
  .gallery-item {
    flex: 0 0 auto;
    margin: 4%;
    scroll-snap-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .gallery-container {
    background-size: cover;
    background-attachment: fixed;
  }
  #gallery {
    padding: 10% 0;
  }

  .gallery-modal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    height: auto;
    overflow: none;

    .gallery-item {
      margin: 1%;
    }
    img {
      width: 180px;
    }
  }
}
@media only screen and (min-width: 1024px) {
  #gallery {
    padding: 5% 0;
  }
  .gallery-modal {
    max-width: 1080px;
    margin: 0 auto;
    
    img {
      width: 250px;
    }
  }
}