// @import '../../App/global.scss';


@media only screen and (min-width: 768px) {

  #digitalCenter {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    // background: url('../../../../dist/assets/newbackground.png');
    // background-size: cover;
    background: rgb(93,183,239);
    background: linear-gradient(rgba(34, 193, 195,0.25) 0%, rgba(253, 187, 45,0.25) 100%);
    // background: #E5E5E5;
    // width: 100%;
    // height: 100vh;
    // background: #E5E5E5;
    // display: flex;
    // align-items: center;
    // justify-content: center;
  
    * {
      font-family: "finland";
      color: #484848;
    }
  
  }
  .digital_middle_left {
    // position: absolute;
    // left: 74px;
    // bottom: 60px;
    // transform: scale(0.71) translate(-200px, 275px);
    // filter: drop-shadow(40px 40px 20px #C0C0C0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

    img {
      width: 80%;
      height: auto;
    }
  }
  .digital_middle_right {
    width: 50%;
    position: absolute;
    right: 0px;
    bottom: 50px;
    h1 {
      text-align: center;
      font-size: 100px;
      font-weight: 1000;
      text-transform: uppercase;
      position: absolute;
      top: -180px;
      right: 30px;
    }
    .digital_prices {
      position: absolute;
      display: flex;
      width: 90%;
      justify-content: space-evenly;
      right: 34px;
      top: -70px;
      text-align: center;
  
      h3 {
        font-weight: 1000;
        font-size: 50px;
      }
    }
    img {
      filter: drop-shadow(40px 40px 20px #C0C0C0);
      width: 100%;
      height: auto;
    }
  }


}

    // img {
    //   width: 100%;
    //   height: 100%;
    // }

// .logo {
//   position: absolute;
//   width: 400px;
//   height: auto;
//   z-index: 0;
//   right: 0;
//   transform: rotate(30deg);
// }
// // .center-container {
// //   background: #1D1D1B33;
// //   width: 100%;
// //   height: 100%;
// // }
// .header {
//   position: absolute;
//   top: 10%;
//   right: 2%;

//   h1 {
//     text-align: center;
//     font-size: 140px;
//     font-weight: 1000;
//     color: $black;
//     text-transform: uppercase;
//   }
// }
// .animatingImg {
//   position: absolute;
//   top: 22%;
//   right: 6%;
//   width: 800px;
//   height: auto;
//   filter: drop-shadow(40px 40px 20px #C0C0C0);

//   // background: white;
//   // border-radius: 50% 50%
// }
// #centerRight {
//   // position: absolute;
//   // background: url(https://cdn.pixabay.com/photo/2014/11/05/12/08/chalkboard-517818_960_720.jpg) 50% 50% no-repeat;
//   // background-size: cover;
//   // box-shadow: 20px 20px 20px #A9A9A9;
//   // color: $white;
//   left: 5%;
//   // top: 5%;
//   // height: 90%;
//   // width: 45%;
//   // padding: 3%;
// }
// .steps {
//   h3 {
//     color: $white;
//     font-size: 60px;
//     font-weight: 600;
//   }
//   p {
//     color: $white;
//     font-size: 50px;
//     font-weight: 400;
//   }
// }
// .extras {
//   position: absolute;
//   right: 3%;
//   bottom: 3%;
// }