@import '../App/global.scss';


// @media only screen and (max-width: 768px) {
  // .nav-container {


  #burger * {
    outline: none;
  }
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 18px;
    top: 18px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    // background: #1C5D99;
    background: white;
    box-shadow: 1px 1px 5px black;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }

  /* General sidebar styles */
  .bm-menu {
    background: white;
    padding-top: 10%;
    font-size: 18px;
    outline: none;
  }

  /* Wrapper for item list */
  .bm-item-list {
    height: auto;
    text-decoration: none;
    color: #484848;
    padding-top: 1em;
    padding-left: 1em;
    font-family: $roboto;

  }
  .order {
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    color: white;
    font-family: $roboto;
    font-size: 12px;
    padding: 5px;
    border: 1px solid #B5D24B;
    // border-radius: 50% 5;
    background: #B5D24B;
  }
  .order:hover {
    background:rgb(146, 163, 86);
  }
  .bm-item-list:hover {
    color: #B5D24B;
  }
  /* Individual item */
  .bm-item {
    line-height: 2;
    display: inline-block;
  }

  /* Styling of overlay */
  .bm-overlay {
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
  .indent {
    margin-left: 20px;
  }
  .icon {
    position: relative;
    top: -2px;
  }
  #navbar-desktop {
    display: none;
    visibility: hidden;
  }

@media only screen and (min-width: 770px) {
  #burger, .bm-burger-button {
    display: none;
    visibility: hidden;
  }
  #navbar-desktop {
    display: flex;
    visibility: visible;
    width: 100%;
    position: fixed;
    height: 7vh;
    background: white;
    z-index: 999;
    box-shadow: 0 0 3px rgba(0,0,0,.15);
  }
  .navbar, .navbar-item {
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    width: 1080px;
    margin: 0 auto;
  }
  .navbar-item {
    width: 100%;
    justify-content: flex-end;
  }
  .nishi-logo {
    height: 40px;
    width: auto;
    left: 0;
    // top: 0;
  }
  // .order {
  //   outline: none;
  //   // border: 
  // }
}