@import '../App/global.scss';


// @media only screen and (max-width: 768px) {
  // .nav-container {


  #burger * {
    outline: none;
  }
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 18px;
    top: 18px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    // background: #1C5D99;
    background: white;
    box-shadow: 0 0 3px rgba(0,0,0,.4);
    // box-shadow: 1px 1px 5px black;
  }
  

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }

  /* General sidebar styles */
  .bm-menu {
    background: white;
    padding-top: 10%;
    font-size: 18px;
    outline: none;
  }

  /* Wrapper for item list */
  .bm-item-list {
    height: auto;
    text-decoration: none;
    color: #484848;
    padding-top: 1em;
    padding-left: 1em;
    // font-family: $montserrat;
    font-family: "finland";
    // font-family: $roboto;

  }
  .order {
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    color: white;
    // font-family: $montserrat;
    font-family: "finland";
    padding: 5px;
    background: #B5D24B;
  }
  .order:hover {
    background:rgb(146, 163, 86);
  }
  .bm-item-list:hover {
    color: #B5D24B;
  }
  /* Individual item */
  .bm-item {
    line-height: 2;
    display: inline-block;
  }

  /* Styling of overlay */
  .bm-overlay {
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
  .indent {
    margin-left: 20px;
  }
  .icon {
    position: relative;
    top: -2px;
  }
  #navbar-desktop {
    display: none;
    visibility: hidden;
  }

@media only screen and (min-width: 770px) {
  #burger, .bm-burger-button {
    display: none;
    visibility: hidden;
  }
  #navbar-desktop {
    display: flex;
    visibility: visible;
    height: 64px;
    z-index: 999;
    width: 100%;
    position: fixed;
  }
  .navbar, .navbar-item {
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    position: sticky;
    top: 0;
    width: 100%;
  }
  .navbar-item {
    width: 100%;
    justify-content: flex-end;
  }
  .nishi-logo {
    height: 40px;
    width: auto;
  }
  .order {
    padding: 20px;
    font-size: 30px;
    font-weight: 1000;
  }
  .bm-item-list {
    padding-right: 1.5em;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 30px;
  }
}