@import '../App/global.scss';

#contact {
  width: 100%;
  position: relative;
  z-index: 1;

  * {
    font-family: "finland";
    font-weight: 600;
    font-size: 20px;
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1f242e;
  padding: 10% 0;
  color: white;
  width: 100%;

  img {
    width: 100px;
    height: auto;
  }
}
.icons {
  width: 100%;
  margin: 5%;
  text-align: center;
  * {
    cursor: pointer;
    margin: 0 2%;
  }
}
.icons *:hover {
  color: #B5D24B;
}
.contact-info {
  text-align: center;
}
.plug {
  margin-top: 5%;
  a {
    color: white;
    // text-decoration: none;
  }
}

@media only screen and (min-width: 1080px) {
  .contact-container {
    padding: 5% 0;
  }
  .icons {
    margin: 3%;
  }
  .plug {
    margin-top: 3%;
  }
}