@import '../App/global.scss';

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home {
  width: 100%;
  background: url(https://s3.amazonaws.com/nishi-blakeswl/holding.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.home-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero {
    width: 150px;
    height: 150px;

  }
}
#about {
  background-size: cover;
  padding: 5%;
  background: white;
  z-index: 1;
  h3 {
    font-size: 40px;
    color: $black;
    font-family: "finland-bold";
    text-transform: uppercase;
  }
}
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: auto;
  margin: auto auto;
  box-shadow: 0 0 3px rgba(0,0,0,.15);
}
.about-image {
  height: auto;
  width: 355px;
  visibility: hidden;
  display: none;
}
.about-left {
  background: rgba(255, 255, 255, 0.8);
  font-family: $montserrat;
  line-height: 1.5;
  padding: 4%;  

}

@media only screen and (min-width: 678px) {
  #home {
    background-attachment: fixed;
  }
  .home-container {
    position: relative;

    .hero {
      width: 250px;
      height: 250px;
      color: white;
      z-index: 0;
    }
  }
  .about-container {
    flex-direction: row;
    width: 100%;

  }
  .about-left {
    height: 200px;
    font-size: 14px;
    padding: 2% 2% 0 2%;
  }
  .about-image {
    height: 230px;
    visibility: visible;
    display: block;
  }
}
@media only screen and (min-width: 1080px) {
  #home {
    background-size: cover;
  }
  .home-container {
    height: 100vh;
  }
  #about {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
  .about-container {
    width: 100%;
  }
}