@import '../App/global.scss';

.landing {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
#home {
  background: url('../../../dist/assets/octo.jpg') 50% 10% no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}
.home-container {
  width: 100%;
  height: 30vh;
  background: white;
  background: rgba(0, 0, 0, 0.4);
  font-size: 30px;
  color: white;
  font-family: $roboto;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero {
    width: 150px;
    height: 150px;
    color: white;
  }
}
#about {
//   background: repeating-linear-gradient(
//   to right,
//   #ededed,
//   #ededed 2px,
//   #ffffff 10px,
//   #ffffff 10px
// );
  // background: url('../../../dist/assets/cook.jpg') 50% 50% no-repeat fixed;
  background-size: cover;
  padding: 5%;
}
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.about-image {
  height: 20vh;
  width: auto;
}
.about-left {
  background: rgba(255, 255, 255, 0.8);
  font-family: $montserrat;
  line-height: 1.5;
  padding: 4%;  
  box-shadow: 0 0 3px rgba(0,0,0,.15);

}

@media only screen and (min-width: 678px) {
  .home-container {
    height: 50vh;

    .hero {
      width: 250px;
      height: 250px;
      color: white;
    }
  }
  .about-container {
    flex-direction: row;
  }
  .about-left {
    height: 200px;
    font-size: 14px;
    padding: 2%;
  }
  .about-image {
    height: 230px;
  }
}