@import '../App/global.scss';

.landing {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
}
// .MainContainer {
//   perspective: 1px;
//   transform-style: preserve-3d;
//   height: 100vh;
//   width: 100%;
//   overflow-x: hidden;
//   overflow-y: scroll;
// }

// .ParallaxContainer {
//   display: flex;
//   flex: 1 0 auto;
//   position: relative;
//   z-index: -1;
//   height: 100vh;
//   justify-content: center;
//   align-items: center;
//   transform: translateZ(-1px) scale(2);
//   background: url(../../../dist/resized/holding.jpg) 50% 50% no-repeat;
//   background-size: cover;
// }
// .ContentContainer {
//   display: block;
//   position: relative;
//   // background-color: white;
//   z-index: 1;
// }

.hero {
  width: 300px;
  height: 300px;
}



#about {
  background-size: cover;
  padding: 5%;
  background: white;
  width: 100%;
}
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 0 3px rgba(0,0,0,.15);
}
.about-image {
  height: auto;
  width: 355px;
}
.about-left {
  background: rgba(255, 255, 255, 0.8);
  font-family: $montserrat;
  line-height: 1.5;
  padding: 4%;  

  h3 {
    font-size: 20px;
    color: #b5d24b;
    font-family: $roboto;
  }
}

@media only screen and (min-width: 678px) {
  #home {
    perspective: 1px;
    // background: url('../../../dist/resized/holding.jpg') 50% 50% no-repeat;
  }
  .home-container {
    // height: 60vh;
    // // height: 50vh;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateZ(0);

    .hero {
      width: 250px;
      height: 250px;
      color: white;
    }
  }
  .about-container {
    flex-direction: row;
    width: 100%;

  }
  .about-left {
    height: 200px;
    font-size: 14px;
    padding: 2% 2% 0 2%;
  }
  .about-image {
    height: 230px;
  }
}
@media only screen and (min-width: 1080px) {
  #home {
    background-size: cover;
  }
  .home-container {
    height: 100vh;
  }
  #about {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    // margin: 0 auto;
  }
  .about-container {
    width: 100%;
  }
}