@import '../App/global.scss';

.menu-box {
  width: 100%;
  // background: #ededed;
  background: {
    image: url(../../../dist/assets/pattern.png);
    // color: #e8e8e8;
    color: white;
    size: 5%;
    attachment: fixed;
    z-index: 1;
  }
  // background-size: 3%;
  // background: url(../../../dist/assets/sushi.png)


}
#menu {
  // background: #857C8D;
  padding: 5%;
  height: auto;
}
.section-title {
  // font-family: $roboto;
  font-family: $roboto;
  font-weight: 400;
  text-decoration: uppercase;
  font-size: 24px;
  color: #b5d24b;
}
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-family: $montserrat;
    font-size: 20px;
  }
}
.ramen {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 2%;
}
.menu-item {
  box-shadow: 0 0 3px rgba(0,0,0,.15);
  background: white;
}
.menu-image {
  width: 350px;
  height: auto;
}
.menu-title {
  font-family: $montserrat;
  font-size: 20px;
  padding: 2% 4% 0 4%;;
}
.menu-description {
  font-family: $montserrat;
  line-height: 1.5;
  padding: 4%;
}
.poke-image {
  width: 350px;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .ramen {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-content: center;
    transform: scale(.75);
    grid-gap: 2%;
  }
  .menu-item {
    // height: auto;
  }
}
@media only screen and (min-width: 1080px) {
  #menu {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
  .ramen {
    grid-template-columns: repeat(4, 1fr);
    // transform: scale(.7);
  }
}